.rap-container {
  width: 100%;
  height: 450px;
  margin: auto;
  margin-top: 40px;
}
.rap-container .table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rap-container .table .thead .tr {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.rap-container .thead .th {
  color: #aaa;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 15px;
  flex-basis: 25%;
  padding: 0 5px;
}
.rap-container .tbody {
  overflow-y: scroll;
  height: 350px;
}
.rap-container .tbody .tr {
  width: 98%;
  background: #fff;
  box-shadow: var(--shadow);
  border-radius: 10px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}
.rap-container .tbody .td {
  padding: 10px;
  font-weight: 600;
  font-size: 13px;
  flex-basis: 25%;
  color: #444;
}
.rap-container .footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 15px;
}
.rap-container .paginateactions {
  display: flex;
  align-items: center;
}
.rap-container .paginatorcont {
  display: flex;
  align-items: center;
}
.rap-container .paginatorcont > div small {
  cursor: pointer;
  color: #aaa;
  font-size: 17px;
  transition: all 0.2s
}
.rap-container .paginatorcont > div small:hover {
  color: var(--color);
}
.rap-container .paginatorcont > div.faded {
  opacity: 0.4;
  pointer-events: none;
}
.rap-container .footer .appselect {
  margin-left: 20px;
  display: flex;
  align-items: center;
  top: -2px;
}
.rap-container .footer .appselect h6 {
  top: 2px;
  margin-right: 5px;
  color: #444;
}
.rap-container .footer .appselect select {
  border: none;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}
.rap-container .paginator {
  display: flex;
  margin: 5px;
}
.rap-container .paginator div {
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.2s;
  color: #ccc;
}
.rap-container .paginator div:hover, .rap-container .paginator div.active {
  color: var(--color);
}
.rap-container .paginateinfo small {
  font-weight: 500;
  color: #777;
  font-size: 12px;
}